In [3]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
#from sklearn.cross_validation import train_test_split
from sklearn.model_selection import train_test_split
from sklearn import metrics
import statsmodels.formula.api as smf

In [4]:
data = pd.read_csv('drinks.csv')
data.head(50)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF
5,Antigua & Barbuda,102,128,45,4.9,NaN
6,Argentina,193,25,221,8.3,SA
7,Armenia,21,179,11,3.8,EU
8,Australia,261,72,212,10.4,OC
9,Austria,279,75,191,9.7,EU
10,Azerbaijan,21,46,5,1.3,EU
11,Bahamas,122,176,51,6.3,NaN
12,Bahrain,42,63,7,2.0,AS
13,Bangladesh,0,0,0,0.0,AS
14,Barbados,143,173,36,6.3,NaN
15,Belarus,142,373,42,14.4,EU
16,Belgium,295,84,212,10.5,EU
17,Belize,263,114,8,6.8,NaN
18,Benin,34,4,13,1.1,AF
19,Bhutan,23,0,0,0.4,AS
20,Bolivia,167,41,8,3.8,SA
21,Bosnia-Herzegovina,76,173,8,4.6,EU
22,Botswana,173,35,35,5.4,AF
23,Brazil,245,145,16,7.2,SA
24,Brunei,31,2,1,0.6,AS
25,Bulgaria,231,252,94,10.3,EU
26,Burkina Faso,25,7,7,4.3,AF
27,Burundi,88,0,0,6.3,AF
28,Cote d'Ivoire,37,1,7,4.0,AF
29,Cabo Verde,144,56,16,4.0,AF
30,Cambodia,57,65,1,2.2,AS
31,Cameroon,147,1,4,5.8,AF
32,Canada,240,122,100,8.2,NaN
33,Central African Republic,17,2,1,1.8,AF
34,Chad,15,1,1,0.4,AF
35,Chile,130,124,172,7.6,SA
36,China,79,192,8,5.0,AS
37,Colombia,159,76,3,4.2,SA
38,Comoros,1,3,1,0.1,AF
39,Congo,76,1,9,1.7,AF
40,Cook Islands,0,254,74,5.9,OC
41,Costa Rica,149,87,11,4.4,NaN
42,Croatia,230,87,254,10.2,EU
43,Cuba,93,137,5,4.2,NaN
44,Cyprus,192,154,113,8.2,EU
45,Czech Republic,361,170,134,11.8,EU
46,North Korea,0,0,0,0.0,AS
47,DR Congo,32,3,1,2.3,AF
48,Denmark,224,81,278,10.4,EU
49,Djibouti,15,44,3,1.1,AF

In [5]:
data.isnull().sum()

country                          0
beer_servings                    0
spirit_servings                  0
wine_servings                    0
total_litres_of_pure_alcohol     0
continent                       23
dtype: int64

In [6]:
data.shape

(193, 6)

In [7]:
data.drop(['country','continent'],axis=1,inplace=True)

In [8]:
data.head(50)

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
0,0,0,0,0.0
1,89,132,54,4.9
2,25,0,14,0.7
3,245,138,312,12.4
4,217,57,45,5.9
5,102,128,45,4.9
6,193,25,221,8.3
7,21,179,11,3.8
8,261,72,212,10.4
9,279,75,191,9.7
10,21,46,5,1.3
11,122,176,51,6.3
12,42,63,7,2.0
13,0,0,0,0.0
14,143,173,36,6.3
15,142,373,42,14.4
16,295,84,212,10.5
17,263,114,8,6.8
18,34,4,13,1.1
19,23,0,0,0.4
20,167,41,8,3.8
21,76,173,8,4.6
22,173,35,35,5.4
23,245,145,16,7.2
24,31,2,1,0.6
25,231,252,94,10.3
26,25,7,7,4.3
27,88,0,0,6.3
28,37,1,7,4.0
29,144,56,16,4.0
30,57,65,1,2.2
31,147,1,4,5.8
32,240,122,100,8.2
33,17,2,1,1.8
34,15,1,1,0.4
35,130,124,172,7.6
36,79,192,8,5.0
37,159,76,3,4.2
38,1,3,1,0.1
39,76,1,9,1.7
40,0,254,74,5.9
41,149,87,11,4.4
42,230,87,254,10.2
43,93,137,5,4.2
44,192,154,113,8.2
45,361,170,134,11.8
46,0,0,0,0.0
47,32,3,1,2.3
48,224,81,278,10.4
49,15,44,3,1.1

In [9]:
data = data.loc[(data!=0).any(axis=1)]
data.head(50)

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
1,89,132,54,4.9
2,25,0,14,0.7
3,245,138,312,12.4
4,217,57,45,5.9
5,102,128,45,4.9
6,193,25,221,8.3
7,21,179,11,3.8
8,261,72,212,10.4
9,279,75,191,9.7
10,21,46,5,1.3
11,122,176,51,6.3
12,42,63,7,2.0
14,143,173,36,6.3
15,142,373,42,14.4
16,295,84,212,10.5
17,263,114,8,6.8
18,34,4,13,1.1
19,23,0,0,0.4
20,167,41,8,3.8
21,76,173,8,4.6
22,173,35,35,5.4
23,245,145,16,7.2
24,31,2,1,0.6
25,231,252,94,10.3
26,25,7,7,4.3
27,88,0,0,6.3
28,37,1,7,4.0
29,144,56,16,4.0
30,57,65,1,2.2
31,147,1,4,5.8
32,240,122,100,8.2
33,17,2,1,1.8
34,15,1,1,0.4
35,130,124,172,7.6
36,79,192,8,5.0
37,159,76,3,4.2
38,1,3,1,0.1
39,76,1,9,1.7
40,0,254,74,5.9
41,149,87,11,4.4
42,230,87,254,10.2
43,93,137,5,4.2
44,192,154,113,8.2
45,361,170,134,11.8
47,32,3,1,2.3
48,224,81,278,10.4
49,15,44,3,1.1
50,52,286,26,6.6
51,193,147,9,6.2
52,162,74,3,4.2

In [10]:
data.shape

(180, 4)

In [11]:
X = data.drop('total_litres_of_pure_alcohol',axis=1)
X

     beer_servings  spirit_servings  wine_servings
1               89              132             54
2               25                0             14
3              245              138            312
4              217               57             45
5              102              128             45
..             ...              ...            ...
188            333              100              3
189            111                2              1
190              6                0              0
191             32               19              4
192             64               18              4

[180 rows x 3 columns]

In [12]:
X.head(50)

    beer_servings  spirit_servings  wine_servings
1              89              132             54
2              25                0             14
3             245              138            312
4             217               57             45
5             102              128             45
6             193               25            221
7              21              179             11
8             261               72            212
9             279               75            191
10             21               46              5
11            122              176             51
12             42               63              7
14            143              173             36
15            142              373             42
16            295               84            212
17            263              114              8
18             34                4             13
19             23                0              0
20            167               41              8
21             76              173              8
22            173               35             35
23            245              145             16
24             31                2              1
25            231              252             94
26             25                7              7
27             88                0              0
28             37                1              7
29            144               56             16
30             57               65              1
31            147                1              4
32            240              122            100
33             17                2              1
34             15                1              1
35            130              124            172
36             79              192              8
37            159               76              3
38              1                3              1
39             76                1              9
40              0              254             74
41            149               87             11
42            230               87            254
43             93              137              5
44            192              154            113
45            361              170            134
47             32                3              1
48            224               81            278
49             15               44              3
50             52              286             26
51            193              147              9
52            162               74              3

In [13]:
y = data.total_litres_of_pure_alcohol
y

1       4.9
2       0.7
3      12.4
4       5.9
5       4.9
       ...
188     7.7
189     2.0
190     0.1
191     2.5
192     4.7
Name: total_litres_of_pure_alcohol, Length: 180, dtype: float64

In [72]:
# create X and y
feature_cols = ['beer_servings']
X1 = data[feature_cols]
y1 = data.total_litres_of_pure_alcohol

# instantiate and fit
linreg = LinearRegression()
linreg.fit(X1, y1)

# print the coefficients
inter1 = linreg.intercept_
coef1 = linreg.coef_
print("Beer Servings")
print(inter1)
print(coef1)

### SCIKIT-LEARN ###

# predict for a new observation
print('Beer prediction: ' , linreg.predict([[50]]))




# create X and y
feature_cols = ['spirit_servings']
X2 = data[feature_cols]
y2 = data.total_litres_of_pure_alcohol

# instantiate and fit
linreg = LinearRegression()
linreg.fit(X2, y2)

# print the coefficients
inter2 = linreg.intercept_
coef2 = linreg.coef_
print("\nSpirit Servings")
print(inter2)
print(coef2)

### SCIKIT-LEARN ###

# predict for a new observation
print('Spirit prediction: ' , linreg.predict([[50]]))




# create X and y
feature_cols = ['wine_servings']
X3 = data[feature_cols]
y3 = data.total_litres_of_pure_alcohol

# instantiate and fit
linreg = LinearRegression()
linreg.fit(X3, y3)

# print the coefficients
inter3 = linreg.intercept_
coef3 = linreg.coef_
print("\nWine Servings")
print(inter3)
print(coef3)

### SCIKIT-LEARN ###

# predict for a new observation
print('Wine prediction: ' , linreg.predict([[50]]))

Beer Servings
1.6395000263458321
[0.03003026]
Beer prediction:  [3.14101302]

Spirit Servings
2.7976436147634307
[0.02602509]
Spirit prediction:  [4.09889793]

Wine Servings
3.479115538835344
[0.0297736]
Wine prediction:  [4.96779535]

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:446: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:446: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:446: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

In [14]:
# create X and y
feature_cols = ['beer_servings']
X1 = data[feature_cols]
y1 = data.total_litres_of_pure_alcohol

# instantiate and fit
linreg = LinearRegression()
linreg.fit(X1, y1)

# print the coefficients
inter1 = linreg.intercept_
coef1 = linreg.coef_
print("Beer Servings")
print(inter1)
print(coef1)

### SCIKIT-LEARN ###

# predict for a new observation
print('Beer prediction: ' , linreg.predict([[70]]))




# create X and y
feature_cols = ['spirit_servings']
X2 = data[feature_cols]
y2 = data.total_litres_of_pure_alcohol

# instantiate and fit
linreg = LinearRegression()
linreg.fit(X2, y2)

# print the coefficients
inter2 = linreg.intercept_
coef2 = linreg.coef_
print("\nSpirit Servings")
print(inter2)
print(coef2)

### SCIKIT-LEARN ###

# predict for a new observation
print('Spirit prediction: ' , linreg.predict([[70]]))




# create X and y
feature_cols = ['wine_servings']
X3 = data[feature_cols]
y3 = data.total_litres_of_pure_alcohol

# instantiate and fit
linreg = LinearRegression()
linreg.fit(X3, y3)

# print the coefficients
inter3 = linreg.intercept_
coef3 = linreg.coef_
print("\nWine Servings")
print(inter3)
print(coef3)

### SCIKIT-LEARN ###

# predict for a new observation
print('Wine prediction: ' , linreg.predict([[70]]))

Beer Servings
1.6395000263458321
[0.03003026]
Beer prediction:  [3.74161822]

Spirit Servings
2.7976436147634307
[0.02602509]
Spirit prediction:  [4.61939966]

Wine Servings
3.479115538835344
[0.0297736]
Wine prediction:  [5.56326728]

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:446: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:446: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:446: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

#### Taking more servings of Wine produces a higher total liters of pure alcohol.